[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typing-extensions = "==3.10.0.0"
urllib3 = "==1.26.6"
jwcrypto = "==0.9.1"

[dev-packages]

[requires]
python_version = "3.7"
